<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Reverse Search Engine </title>
        <link rel= "stylesheet" href="/static/css/bootstrap.css" type="text/css">
        <link rel= "stylesheet" href="/static/css/custom.css" type="text/css">
    </head>
    
    <body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a class="brand" href="#">reverse search</a>
                    </li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/view_user_profile">your account</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
            </div>
        </div>
    </div>
        <h1>Reverse Search Engine</h1>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>