{% extends "layout.html" %}
{% block body %}
<h2> {{ username }}'s profile</h2>
<p>
<ul>
    {% if not session.logged_in %}
    <li><a href="/facebook_login">Login with Facebook to search Facebook friends</a></li>
    {% else %}
    <li><a href="/logout"> Facebook Logout</a></li>
    {% endif %}
</ul>


<ul>
    {% if not session.logged_in %}
    <li><a href="/linkedin_login">Login with LinkedIn to search LinkedIn contacts</a></li>
    {% else %}
    <li><a href="/logout"> LinkedIn Logout</a></li>
    {% endif %}
</ul>

<ul>
    {% if not session.logged_in %}
    <li><a href="/google_login">Login with Google to search Google contacts</a></li>
    {% else %}
    <li><a href="/logout"> Google Logout</a></li>
    {% endif %}
</ul>
</p>
    <form action="{{url_for ('user_keywords', user_id=user_id)}}" method="POST">
        <fieldset>
            <label> Keywords to search</label>
            <input type="text" placeholeder = "Keywords" name="keywords">
            <span class="help-block"> Please enter keywords separated by a semi-colon</span>
            <button type = "submit" class="btn">Submit</button>
        </fieldset>
    </form>

<div>
    <h3> Your keywords </h3>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Keywords</th>
            <th>Delete</th>
        </tr>
    </thead> 
    <tbody>
    {% for keyword in keywords %}
    <tr>
        <td>{{keyword}} </td>
        <td> <a class="btn btn-danger" href="{{url_for('delete_user_keywords', keyword=keyword)}}"
            method="POST">Delete</a>
    </tr>    
    {% endfor %}
    </ol>
    </table>
</div>
{% endblock %}


// <script>
// window.fbAsyncInit = function() {
//     // init the FB JS SDK
//     FB.init({
//       appId      : '103699949794696', // App ID from the App Dashboard
//       channelUrl : 'http://localhost:5000/', // Channel File for x-domain communication
//       status     : true, // check the login status upon init?
//       cookie     : true, // set sessions cookies to allow your server to access the session?
//       xfbml      : true  // parse XFBML tags on this page?
//     });

//     // Additional initialization code such as adding Event Listeners goes here

//   };

//   // Load the SDK's source Asynchronously
//   (function(d, debug){
//      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
//      if (d.getElementById(id)) {return;}
//      js = d.createElement('script'); js.id = id; js.async = true;
//      js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
//      ref.parentNode.insertBefore(js, ref);
//    }(document, /*debug*/ false));

// </script>