{% extends "layout.html" %}
{% block body %}
<!--<style type="text/css">
       body {
        background:url('static/images/coral.jpg') no-repeat center center fixed;
        opacity: 5%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size:cover;
    } 
</style> -->
    <form action="{{url_for('authenticate')}}" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Username" name="username">
        <input type="password" class="input-block-level" placeholder="Password" name="password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>

    <form action="{{url_for('add_user')}}" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Sign up</h2>
        <input type="text" class="input-block-level" placeholder="Username" name="username">
        <input type="password" class="input-block-level" placeholder="Password" name="password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>

{% endblock %}    